extends layout

block content
    .navbar(style='padding-top: 0px;padding-bottom: 0px;justify-content:left;')
      a.active(href='/new' style='background-color: blue;')
        i.fa.fa-fw.fa-bars
      a(href='/new')
        i.fa.fa-fw.fa-home
      a(href='#' style='font-family:LEIXO-DEMO')  Xoom Hotel
      a(href='/payment')
        i.fa.fa-fw.fa-shopping-cart
    br
    .responsive1
      p#img-icon1
        | Image
      p
      .desc Single level parging garage
    .responsive1
      p#img-icon1
        | Image
      p
      .desc(st='') Multilevel or multi-storey parking garage
    .responsive1
      p#img-icon1
        | Image
      p
      .desc Name
    .responsive1
      p#img-icon1
        | Image
      p
      .desc Name
    .responsive1
      p#img-icon1
        | Image
      p
      .desc Name
    .responsive1
      p#img-icon1
        | Image
      p
      .desc Name
    .responsive1
      p#img-icon1
        | Image
      p
      .desc Name
    .responsive1
      p#img-icon1
        | Image
      p
      .desc Name
